---
---


<html>
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q9M8D8G8RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q9M8D8G8RF');
</script>
    {% include head.html %}
  </head>
  <body data-theme="dark">
    <script>
      const theme = localStorage.getItem("theme") ?? 'dark';
      document.querySelector('body').dataset.theme = theme;
    </script>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12 text-center">
                  <h1 class="main-title">
                    {{ site.title }} 
                  </h1>
                </div>
                <div class="meta col-12 text-center page-description">
                  {{ site.description }}.
                  To add/edit a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.
                </div>
            </div>
            <br>
            <div class="row">
              <form class="container">
                <div class="row justify-content-center">
                  <div class="row align-items-md-center col-12 col-10-md">
                    <div class="col-12 col-md-5 filter-label">
                      <label for="subject-select" class="align-center" style="margin-bottom: 0px; line-height: 1.5;">
                        Subject Filter:
                      </label>
                    </div>
                    <div class="col-12 col-md-6">
                      <select
                        id="subject-select"
                        name="subject-select"
                        multiple="multiple"
                        style="display: none"
                      >
                        {% for type in site.data.types %}
                        <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                          {{type.name}} ({{type.sub}})
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="meta col-12 text-center">
                <span class="local-timezone-hide text-center">
                  Deadlines are shown in <span class="local-timezone">America/New_York</span> time.
                  To view them in conference website timezones, click on them.
                </span>
              </div>
              <div class="meta col-12 text-center">
                You can optionally export all deadlines to
                <a href="https://calendar.google.com/calendar/r?cid={{ site.url }}/ai-deadlines.ics">Google Calendar</a> or
                <a href="/ai-deadlines.ics">.ics</a>.
              </div>
            </div>
        </div>
        <div id="confs">
        <div id="coming_confs">
          {% for conf in site.data.conferences %}
          <div id="{{conf.id}}" class="confItem {% for sub in conf.sub %} {{sub}}-conf {% endfor %}">
            <div class="row conf-row">
                <div class="col-6">
                  <span class="conf-title">
                      <a title="{% if conf.full_name %}{{conf.full_name}}{% else %}Deadline{% endif %} Details" href="{{site.baseurl}}/conference?id={{ conf.id }}">{{conf.title}} {{conf.year}}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="{% if conf.full_name %}{{conf.full_name}}{% else %}Deadline{% endif %} Details" href="{{site.baseurl}}/conference?id={{ conf.id }}">{{conf.title}} '{{conf.year | slice: -2, 3}}</a>
                  </span>
                  <span class="conf-title-icon">
                    <a title="Conference Website" href="{{conf.link}}" target="_blank"><svg version="1.1" class="badge-link conf-ic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 15c-0.984 0-1.92-0.203-2.769-0.57l3.643-4.098c0.081-0.092 0.126-0.21 0.126-0.332v-1.5c0-0.276-0.224-0.5-0.5-0.5-1.765 0-3.628-1.835-3.646-1.854-0.094-0.094-0.221-0.146-0.354-0.146h-2c-0.276 0-0.5 0.224-0.5 0.5v3c0 0.189 0.107 0.363 0.276 0.447l1.724 0.862v2.936c-1.813-1.265-3-3.366-3-5.745 0-1.074 0.242-2.091 0.674-3h1.826c0.133 0 0.26-0.053 0.354-0.146l2-2c0.094-0.094 0.146-0.221 0.146-0.354v-1.21c0.634-0.189 1.305-0.29 2-0.29 1.1 0 2.141 0.254 3.067 0.706-0.065 0.055-0.128 0.112-0.188 0.172-0.567 0.567-0.879 1.32-0.879 2.121s0.312 1.555 0.879 2.121c0.569 0.569 1.332 0.879 2.119 0.879 0.049 0 0.099-0.001 0.149-0.004 0.216 0.809 0.605 2.917-0.131 5.818-0.007 0.027-0.011 0.055-0.013 0.082-1.271 1.298-3.042 2.104-5.002 2.104z"></path>
                      </svg>
                      </a>
                    &ZeroWidthSpace;
                    {% if conf.paperslink %}
                      <a title="Full List of Accepted Papers" href="{{conf.paperslink}}" target="_blank"><svg class="conf-ic badge-link" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="16" viewBox="0 0 18 16">
                        <path  d="M3.5 2h-3c-0.275 0-0.5 0.225-0.5 0.5v11c0 0.275 0.225 0.5 0.5 0.5h3c0.275 0 0.5-0.225 0.5-0.5v-11c0-0.275-0.225-0.5-0.5-0.5zM3 5h-2v-1h2v1z"></path>
                        <path  d="M8.5 2h-3c-0.275 0-0.5 0.225-0.5 0.5v11c0 0.275 0.225 0.5 0.5 0.5h3c0.275 0 0.5-0.225 0.5-0.5v-11c0-0.275-0.225-0.5-0.5-0.5zM8 5h-2v-1h2v1z"></path>
                        <path  d="M11.954 2.773l-2.679 1.35c-0.246 0.124-0.345 0.426-0.222 0.671l4.5 8.93c0.124 0.246 0.426 0.345 0.671 0.222l2.679-1.35c0.246-0.124 0.345-0.426 0.222-0.671l-4.5-8.93c-0.124-0.246-0.426-0.345-0.671-0.222z"></path>
                        <path  d="M14.5 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z"></path>
                      </svg></a>
                    {% endif %}
                    &ZeroWidthSpace;
                    {% if conf.pwclink %}
                      <a title="Browse All Papers with Code" href="{{conf.pwclink}}" target="_blank"><div class="icon-inner badge-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M88 128h48v256H88zM232 128h48v256h-48zM160 144h48v224h-48zM304 144h48v224h-48zM376 128h48v256h-48z"></path><path d="M104 104V56H16v400h88v-48H64V104zM408 56v48h40v304h-40v48h88V56z"></path></svg></div></a>
                    {% endif %}
                    &ZeroWidthSpace;
                  </span>
                </div>
                <div class="col-6">
                  <span class="timer"></span>
                  <span class="timer-small"></span>
                </div>
            </div>
            <div class="row">
              <div class="br col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-date">{{conf.date}}.</span>
                  <span class="conf-place">
                    {% if conf.place == "Online" %}
                    <a href="#">{{conf.place}}</a>.
                    {% else %}
                    <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>.
                    {% if conf.hybrid %}
                    <span> - Hybrid</span>
                    {% endif %}
                    {% endif %}
                  </span>
                </div>
                {% if conf.note %}
                  <div class="note">
                      <b>Note: </b>{{conf.note}}
                  </div>
                {% endif %}

              </div>
              <div class="col-12 col-sm-6">
                <div class="deadline">
                  <div>Deadline:
                    <span class="deadline-time"></span>
                  </div>
                </div>
                <div class="calendar"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 conf-box-cnt">
                {% if conf.conf_name %}
                  <span class="ws-conf-name" title="{{conf.conf_name}}">{{conf.conf_name}}</span>
                {% endif %}
                {% if conf.type %}
                <span data-sub="{{conf.type}}" class="conf-type {{conf.type}}-tag">{{conf.type}}</span>
                {% endif %}
                {% for sub in conf.sub %}
                <span title="Click to only show {{sub}} conferences" data-sub="{{sub}}" class="conf-sub {{sub}}-tag"></span>
                {% endfor %}
              </div>
              <div class="col-12 col-sm-6 share-cnt conf-share-cnt">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Countdown to the #{{ conf.title }}{{ conf.year }} deadline!" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="share-url" data-url="{{site.copyurl}}/conference?id={{ conf.id }}"><svg class="share-ic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"/></svg><span>Share</span></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="past_confs">
          <h1 id="past-events-title">Past Events</h1>
          <div id="sort-order-checkbox">
                <label for="sort-order"><input type="checkbox" id="sort-order" name="sort-order" checked>Most recent first</label>
            </div>
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        // Make sure this is >= no. of subs
        // Currently not used
        var colors = ['#341f97', '#ee5253', '#2e86de',
                      '#ff9f43', '#10ac84', '#222f3e']

        
        {% include load_data.js %}
        {% include utils.js %}
        {% include multiselect_handler.js %}

        addUtcTimeZones();

        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        {% for conf in site.data.conferences %}
        {% for sub in conf.sub %}
        $('#{{conf.id}} .{{sub}}-tag').html(sub2name["{{sub}}"].toLocaleLowerCase());
        {% endfor %}
        {% if conf.deadline == "TBA" %}
          $('#{{conf.id}} .timer').html("TBA");
          $('#{{conf.id}} .deadline-time').html("TBA");
        {% else %}
          // adjust date according to deadline timezone
          var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
          var confDate = moment.tz("{{conf.deadline}}", timezone);

          // render countdown timer
          $('#{{conf.id}} .timer').countdown(confDate.toDate(), function (event) {
              $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });

          // render countdown timer small
          $('#{{conf.id}} .timer-small').countdown(confDate.toDate(), function (event) {
              $(this).html(event.strftime('%Dd %H:%M:%S'));
          });

          // convert deadline to local timezone
          try {
            var localConfDate = moment.tz(confDate, local_timezone);
            $('#{{conf.id}} .deadline-time').html(localConfDate.toString());
          }
          catch(err) {
            console.log("Error converting to local timezone.");
          }

          // add calendar button
          var myCalendar = createCalendarFromObject({
            id:  '{{conf.id}}',
            title: '{{conf.title}} {{conf.year}} deadline',
            date: confDate.toDate(),
            duration: 60,
          })
          var calImg = myCalendar.querySelector("img");
          calImg.src="{{site.baseurl}}/static/img/calendar.png";
          document.querySelector('#{{conf.id}} .calendar').appendChild(myCalendar);

          // check if date has passed, add 'past' class to it
          var today = moment();
          diff = today.diff(confDate);

          $('#{{conf.id}}').attr("diff", diff)
          if (diff > 0) {
            $('#{{conf.id}}').addClass('past');
            $('#{{conf.id}}').appendTo($("#past_confs"))
            $('#{{conf.id}} .timer').replaceWith($('#{{conf.id}} .deadline'));
            $('#{{conf.id}} .timer-small').replaceWith($('#{{conf.id}} .deadline'));
            $('#{{conf.id}} .calendar').remove();
          }
        {% endif %}
        {% endfor %}

        // Sort coming_confs and past_confs
        $("#coming_confs .ConfItem").sort(function (a, b) {
          return $(b).attr('diff') - $(a).attr('diff');
        }).appendTo($("#coming_confs"));

        function sortPastEvents() {
          if ($("#sort-order-checkbox input").is(":checked")) {
            $("#past_confs .ConfItem").sort(function (a, b) {
              return $(a).attr('diff') - $(b).attr('diff');
            }).appendTo($("#past_confs"));
          } else {
            $("#past_confs .ConfItem").sort(function (a, b) {
              return $(b).attr('diff') - $(a).attr('diff');
            }).appendTo($("#past_confs"));
          }
        }

        sortPastEvents();

        $("#sort-order-checkbox input").on("click", sortPastEvents);

        {% include handle_url_retrieval.js %}

        // Event handler on sub badge click
        $('.conf-sub').click(function (e) {
            var csub = $(this).data('sub');
            subs = [csub];
            $("#subject-select").multiselect('deselect', all_subs);
            $("#subject-select").multiselect('select', subs);
            update_filtering({ subs: subs, all_subs: all_subs});
        });

    });
    {% include google_analytics.js %}
    </script>
    <script>
      // const themeToggle = document.querySelector(".theme-cnt");
      // themeToggle.addEventListener("click", toggleTheme);

      const copyBtn = document.querySelectorAll(".share-url");
      copyBtn.forEach(btn => {
        btn.addEventListener("click", (e) => {
          const url = e.currentTarget.dataset.url;
          navigator.clipboard.writeText(url);
          e.currentTarget.querySelector("span").innerText = "URL Copied";
          setTimeout(() => {
            btn.querySelector("span").innerText = "Share";
          }, 4000)
        })
      })
        
    </script>
  </body>
</html>
