:root{
  --primary: #FFF;
  --secondary: #000;
  --light: #FFF;
  --dark: #343a40;
  --shadow: 2px 2px 4px rgb(218, 217, 217), -2px -2px 4px #d7dadd;
  --line-color: 1px solid rgba(52, 58, 64, 0.2);
}

[data-theme="dark"] {
  --primary: #343a40;
  --secondary: #FFF;
  --light: #000;
  --dark: #FFF;
  --shadow: 3px 3px 6px #222, -3px -3px 6px #484a4c;
  --type-box: inset 2px 2px 5px rgb(67, 67, 67), inset -3px -3px 7px #454a51;
  --line-color: 1px solid rgba(182, 184, 185, 0.2);
}

body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: var(--primary);
  color: var(--secondary);
  transition: all .3s ease;
}

body *::selection {
  background: #e74c3c;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #333;
  height: 0.25em;
  width: 100%;
}

h1,
h2,
h3 {
  /* font-weight: 300; */
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.header{
  background-color: var(--dark);
  color: var(--light);
}

.theme-ic{
  width: 20px;
  cursor: pointer;
}

.theme-ic.light{
  fill: var(--light);
}

.header .navbar-brand{
  color: var(--light);
}

.header-container .header-icons{
  justify-content: flex-end !important;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

#conf-title.page-header {
  border-bottom: none;
}

#conf-full-name {
  margin-bottom: 5px;
}

.conf-ic{
  fill: var(--dark);
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

footer {
  font-size: 13px;
}

.conf-row {
  margin-bottom: 5px;
}

.conf-title,
.conf-title-small,
.conf-title-icon {
  font-size: 20px;
  font-weight: 400;

}

.conf-title-small {
  display: none;
}

.conf-title-icon {
  white-space: nowrap;
  font-size: 20px;
}

.deadline,
.meta {
  font-size: 13px;
}

.note {
  font-size: 13px;
  margin-bottom: 5px;
}

.timer,
.timer-small {
  font-size: 20px;
  font-weight: 400;
}

#confs {
  margin-top: 20px;
}
.timer-small {
  display: none;
}

#conf-timer {
  font-size: 72px;
  color: var(--dark);
  margin-top: 40px;
  margin-bottom: 0.5em;
}

#conf-key-facts {
  margin-bottom: 10px;
  padding: .2rem 0;
  border-top: var(--line-color);
  border-bottom: var(--line-color);
}

#conf-key-facts > div{
  margin: .3rem 0;
}

.conf-sub, .conf-type, .ws-conf-name {
  color: rgb(36, 101, 191);
  background: rgba(236, 240, 241, 0.7);
  border-radius: .2rem;
  font-size: 13px;
  padding: 3px 5px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: 300;
}


.ws-conf-name{
  background-color: rgb(187, 208, 244);
  z-index: 1;
}

.conf-sub::selection {
  background: #b3e5f9;
}

.conf-type{
  background-color: #d4ebf4;
}

body[data-theme="dark"] .conf-sub, body[data-theme="dark"] .conf-type, body[data-theme="dark"] .ws-conf-name{
  background-color: #2f2f2f !important;
  color: white !important;
  box-shadow: var(--shadow);
}
.checkbox input[type="checkbox"]:checked:after {
  background-color: #0097e6;
  border-color: #0097e6;
}

.checkbox input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:focus:after {
  border-color: #0097e6;
}

#sort-order-checkbox {
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
}

#sort-order-checkbox input[type="checkbox"]:checked:after {
    background-color: #0097e6;
    border-color: #0097e6;
  }
  
#sort-order-checkbox input[type="checkbox"]:after,
#sort-order-checkbox input[type="checkbox"]:focus:after {
    border-color: #0097e6;
}

.filter-label {
  text-align: right;
}


.pwc-link {
  text-decoration: none;
  border: none;
  vertical-align: middle;
}

.pwc-link:hover {
  border-bottom: 1px solid #1198b2;
}

.icon-inner {
  width: .95em;
  height: .95em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  fill: currentColor;
}

.pwc-icon {
  color: #1198b2;
}

.twitter-github-icons {
  display: flex;
  align-items: center;
  line-height: 16px;
}

#past-events-title {
  padding-bottom: 15px;
  border-bottom: 2px solid #bb2d3b;
}

.badge-link {
  vertical-align: middle; 
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}


.badge-danger {
  background-color: #bb2d3b;
}

.confItem{
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .5rem;
  border: var(--line-color);
  box-shadow: var(--shadow);
  position: relative;
}

.confItem .br {
  border-right: var(--line-color);
  margin-bottom: .5rem;
}

.share-cnt{
  display: flex;
  align-items: center;
}

.share-cnt > div{
  margin: 0 .5rem;
}

.share-cnt .share-url{
  padding: .3rem;
  border-radius: 1rem;
  height: 23px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: .8rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);

}

.share-cnt .share-url:hover{
  background-color: rgba(106, 106, 106, 0.1);
}

.share-cnt .share-url .share-ic{
  width: 20px;
  fill: #818284;
  margin: 0 .2rem 0 0;
}

@media only screen and (max-width: 768px) {
  #conf-timer {
    font-size: 64px;
  }
  .calendar {
    margin-bottom: 10px;
  }
  .filter-label {
    text-align: left;
  }
}

@media only screen and (max-width: 576px) {
  #conf-timer {
    font-size: 36px;
  }
  .conf-place {
    display: none;
  }
  .conf-date {
    display: none;
  }
  .note {
    display: none;
  }
  .conf-row {
    margin-bottom: 7px;
  }
  .timer {
    display: none;
  }
  .timer-small {
    text-align: right;
    display: grid;
  }
  .conf-title {
    display: none;
  }
  .conf-title-small {
    display: inline;
  }

}

@media only screen and (max-width: 375px) {
  #conf-timer {
    font-size: 28px;
  }
}

.checkbox {
  font-size: 12px;
}

.calendar {
  font-size: 12px;
  margin-top: 3px;
}

.calendar img {
  margin-right: 5px;
}

.ind-cal {
  margin: 0 5px;
}

.calendar img {
  height: 20px;
}
